<!-- Navigation -->
<nav class="navbar">
        <div class="navbar-brand">College Finder</div>
        <div class="navbar-left">
                <div class="navbar-link">
                        <a class="btn" href="/">Home</a>
                </div>
        </div>
        <div class="navbar-right">
                <% if(user) { %>
                <div class="navbar-link">
                        <a class="btn" href="/me">
                                <%= user.name %></a>
                </div>
                <div class="navbar-link">
                        <a class="btn" href="/logout">LogOut</a>
                </div>
                <% } %>
                <% if(!user) { %>
                <div class="navbar-link">
                        <a class="btn" href="/login">Login</a>
                </div>
                <div class="navbar-link">
                        <a class="btn" href="/signup">Signup</a>
                </div>
                <% } %>
        </div>
</nav>