<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/navigation.css">
</head>

<body>
    <%- include('partials/navigation') %>
    <p class="asd">Add new college</p>
    
    <form action="/request/college/add" method="POST" class="asdf">
        Name of collage
        <input type="text" name="name" class="ax">
        <br><br>
        Rating
        <input type="text" name="rating" class="ax">
        <br><br>
        <input type="submit" value="submit" class="ar">
    </form>
</body>

</html>