<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <%- include("partials/files") %>
</head>

<body>
    <%- include('partials/navigation') %>
    <form action="../../request/college/add" method="POST" class="asdf">
        
        <input class="asd" type="text" name="name" placeholder="Name of collage"><br><br>
        
        <input class="asd" type = "text" placeholder = "About" name="about" style="width: 500px; height: 150px; border: 1px solid black;">
        <div class="c">
            . <input class="asd" placeholder="Add new study field" type="text" name="fields">
            <br>
        </div>
        <input type="button" value="add" onclick="fun1()"><br>
        <input type="submit" value="submit" class="c">
    </form>
    <script>
        function fun1() {
            var a, b, c;
            a = document.getElementsByClassName("c")[0];
            b = document.createTextNode(". ");
            a.appendChild(b);
            b = document.createElement("input");
            c = document.createAttribute("name");
            c.value = "fields";
            b.setAttributeNode(c);
            c = document.createAttribute("required");
            b.setAttributeNode(c);
            a.appendChild(b);
            b = document.createElement("br");
            a.appendChild(b);
        }
    </script>
</body>

</html>

<!-- /request/college/add -->