<!DOCTYPE html>
<html>

<head>
    <title>Add College Page</title>
    <link rel="stylesheet" href="CSS/common.css">
</head>

<body>
    <p class="asd">Add new college</p>
    <a href="/">home</a><br>
    <form action="/addCollege" method="POST" class="asdf">
        Name of collage
        <input type="text" name="name" class="ax">
        <br><br>
        Rating
        <input type="text" name="rating" class="ax">
        <br><br>
        <input type="submit" value="submit" class="ar">
    </form>
</body>

</html>