<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <meta charset="utf-8">
<%- include("partials/files") %>
    
</head>

<body>
    <% include partials/navigation %>
    <% for(var i = 0; i < colleges.length; i++) { %>
    <h1>
        <% idx = '/college/' + colleges[i]._id %>
        <a href=<%=idx %> class="aaa">
            <%= colleges[i].name %></a>
    </h1>
    <p>Rating &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= colleges[i].counter %></p>
    <% } %>
</body>

</html>