<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/navigation.css">
</head>
<body>
    <% include partials/navigation %>
    <% include partials/header %>
</body>
</html>