<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <%- include("partials/files") %>
    <style>
        body {
            background-image: url("image/homewall.jpg");
            background-size: cover;
        }
    </style>
</head>

<body>
    <%- include("partials/navigation") %>
    <%- include("partials/homeform") %>
</body>

</html>