<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/navigation.css">
</head>

<body>
    <% include partials/navigation %>
    <br><br>
    <form action="/login" method="POST" class="asdf">
        email
        <input type="text" name="email" class="ax">
        <br><br>
        password
        <input type="password" name="password" class="ax">
        <br><br>
        <input type="submit" value="submit" class="ar">
    </form>
</body>

</html>