<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/navigation.css">
</head>

<body>
    <% include partials/navigation %>
    <p class="asd"><%= user.name %></p>
    <p class="asdf">Hey this is me, <%= user.name %></p>
    <a href="/me/update">change bio</a>
    <% if(user.kind !== "user") { %>
        <a href="/request/college/add">add college</a>
    <% } %>
</body>

</html>