<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="../CSS/common.css">
</head>

<body>
    <a href="/">home</a>
    <p class="asd"><%= user.name %></p>
    <p class="asdf">Hey this is me, <%= user.name %></p>
    <a href="/users/me/change">change bio</a>

</body>

</html>