<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="CSS/common.css">
</head>

<body>
<a href="/">home</a>
<% if(user1) { %>
<p><a href="/users/me">
        <%= user1.email %></a></p>
<% } %>
<p class="asd">Comments</p>
    <% for(var i = 0; i < todos.length; i++) { %>
    <p class="asdf"><%= todos[i].text %></p>
    <% } %>
    <a href="/toodos">new comment</a>

</body>

</html>