<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="CSS/common.css">
</head>

<body>
    <p class="asd">Add a new comment</p>
<a href="/">home</a><br>
    <form action="/todos" method="POST" class="asdf">
comment <input type="text" name="text" class="ax"><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" value="submit" class="ar">
    </form>
</body>

</html>